.place__pharagraph {
  margin: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.place__pharagraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__pharagraph {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 163%;
  }
}
