.lead__figcaption {
  margin-left: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
  
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__figcaption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__figcaption {
    padding-left: 16px;
  }
}