.place {
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  gap: 48px 40px;
  max-width: calc(100% - 148px * 2);
  grid-template-columns:  minmax(460px, 1fr) minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 984px) and (max-width: 1279px) {
  .place {
    column-gap: 32px;
    max-width: calc(100% - 48px * 2);
    grid-template-columns:  minmax(440px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .place {
    padding-bottom: 73px;
    column-gap: 28px;
    max-width: calc(100% - 24px * 2);
    grid-template-columns: minmax(340px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .place {
    padding-bottom: 0;
    gap: 32px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: content-box;
    justify-items: center;
  }
}